<div style="width: 50%; margin: 100px auto">
  <h2>
    This is just for DEMO purpose. I added the front end just for fun and ease of use. PLEASE NOTE
    THAT THIS MAY NOT WORK AS EXPECTED
  </h2>
  <h3>
    To use front end, you will need token which already provided and it has no expiry (not great for
    security but this is just demo)
  </h3>
  <a href="/game-board" style="font-size: 40px">Take to to board game</a>
</div>
